* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #0f0f0f;
}

.calculator__grid {
  height: 95vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (55px)[6];
  -ms-grid-columns: (55px)[4];
      grid-template: repeat(6, 55px)/repeat(4, 55px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  justify-items: stretch;
  gap: 10px;
}

.calculator__field {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  border: none;
  text-align: end;
  font-size: 45px;
  font-weight: 400;
  padding-right: 5px;
  background-color: #0f0f0f;
  color: #ffffff;
}

.calculator__item:nth-child(18) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.calculator__item {
  background-color: #464646;
  border-radius: 55px;
  border: none;
  font-size: 20px;
  color: #ffffff;
  -webkit-transition: 1s ease-in-out background-color;
  transition: 1s ease-in-out background-color;
}

.calculator__item:hover {
  background-color: #47c8e96b;
  -webkit-transition: 1s;
  transition: 1s;
}

.calculator__item:nth-child(4n + 1) {
  background-color: #05c5ffd2;
  -webkit-transition: 0s;
  transition: 0s;
}

.calculator__item:nth-child(4n + 1):hover {
  background-color: #05c5ffd2;
  border: 3px solid #6bddff;
  -webkit-transition: 0s;
  transition: 0s;
}

.calculator__item:nth-child(-n + 4) {
  background-color: #808080;
  -webkit-transition: 0s;
  transition: 0s;
}

.calculator__item:nth-child(-n + 4):hover {
  background-color: #808080;
  border: 3px solid #afafaf;
  -webkit-transition: 0s;
  transition: 0s;
}

.calculator__item:last-child {
  background-color: #05c5ffd2;
  -webkit-transition: 0s;
  transition: 0s;
}

.calculator__item:last-child:hover {
  background-color: #036988d2;
  border: none;
  -webkit-transition: 0s;
  transition: 0s;
}
